<!DOCTYPE html>
<html lang="en" ng-app="OmegaXApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OmegaXhunter Web-apps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles.css">

</head>

<body ng-controller="MainController">
    <div class="jumbotron text-center">
        <h1>Apps</h1>
    </div>
    <div class="container">
        <button type="button" class="btn btn-primary" ng-click="mostrarItems('distancia')">Distancia entre dos Puntos</button>
        <div  ng-show="mostrarD1==true">
        <p>Calcular la distancia</p>
        <span>pos 1</span>
        <input class="form-control" ng-model="pos1" placeholder="0" ng-change="calcularResultado()" type="number"
            step="any">
        <span>pos 2</span>
        <input class="form-control" ng-model="pos2" placeholder="0" ng-change="calcularResultado()" type="number"
            step="any">
        <p ng-model="resultado">Resultado: {{resultado}}</p>
    </div>
    </div>
    <div class="container">
        <button type="button" class="btn btn-primary" ng-click="mostrarItems('distancia2D')">Distancia entre dos Puntos2D</button>
        <div ng-show="mostrarD2">
        <p>Calcular distancia en 2 dimensiones</p>
        <span>pos 1 x</span>
        <input class="form-control" ng-model="posx1" placeholder="0" ng-change="calcularResultado2d()" type="number"
            step="any">
        <span>pos 1 y</span>
        <input class="form-control" ng-model="posy1" placeholder="0" ng-change="calcularResultado2d()" type="number"
            step="any">
        <span>pos 2 x</span>
        <input class="form-control" ng-model="posx2" placeholder="0" ng-change="calcularResultado2d()" type="number"
            step="any">
        <span>pos 2 y</span>
        <input class="form-control" ng-model="posy2" placeholder="0" ng-change="calcularResultado2d()" type="number"
            step="any">
        <p ng-model="distancia2DResultado">Resultado: {{distancia2DResultado}}</p>
    </div>  
    </div>
    <div class="container">
            <button type="button" class="btn btn-primary" ng-click="mostrarItems('distancia3D')">Distancia entre dos Puntos3D</button>
        <div ng-show="mostrarD3">
        <p>Calcular distancia en 3 dimensiones</p>
        <span>pos 1 x</span>
        <input class="form-control" ng-model="pos3dx1" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">
        <span>pos 1 y</span>
        <input class="form-control" ng-model="pos3dy1" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">
        <span>pos 1 z</span>
        <input class="form-control" ng-model="pos3dz1" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">

        <span>pos 2 x</span>
        <input class="form-control" ng-model="pos3dx2" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">
        <span>pos 2 y</span>
        <input class="form-control" ng-model="pos3dy2" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">
        <span>pos 2 z</span>
        <input class="form-control" ng-model="pos3dz2" placeholder="0" ng-change="calcularResultado3D()" type="number"
            step="any">

        <p ng-model="distancia3DResultado">Resultado: {{distancia3DResultado}}</p>
    </div>
    </div>
    <div class="container">
            <button type="button" class="btn btn-primary" ng-click="mostrarItems('circulo')">Circulo</button>
            <div ng-show="mostrarCirculo">
        <p>calculos del circulo</p>
        <span>Radio</span>
        <input class="form-control" type="number" ng-model="radio" step="any" placeholder="0" ng-change="calcularCirculo()">
        <p ng-model="diametro">Resultado diametro : {{diametro}}</p>
        <p ng-model="circuloAreaResultado">Resultado Area : {{circuloAreaResultado}}</p>
        <p ng-model="circuloPerimetroResultado">Resultado Perimetro : {{circuloPerimetroResultado}}</p>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>